.container{
    
    background-color:white;
        color:rgb(5, 5, 5);
        position:fixed;
        width: 100%;
    }
   
body{
    background-color: rgb (34,32,32);
    color:black;
}
.heading{
    text-align: center;
    background-color: #222;
}
h1{
    color:darkcyan;
    text-align: center;
    font-family: serif;
    font-size: 45px;  
}
