<!-- <h1> Hello World </h1> -->

{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> News Highlight Website </title>
    {% endif %}
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="row" id="top">
            <div class="col-md-12 heading">
                <h1>News Highlights</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>General News</h2>
                <br>
                
            </div>
            {{macro.displaySourceList(general)}}

        </div>
        <hr>
        <div class="row" id="first">
            <div class="col-md-12">
                <h2>Business News</h2>
                <br>
            </div>
            {{macro.displaySourceList(business)}}
        </div>
        <hr>
        <div class="row" id="second">
            <div class="col-md-12">
                <h2>Entertainment News</h2>
                <br>
            </div>
            {{macro.displaySourceList(entertainment)}}
        </div>
        <hr>
        <div class="row" id="third">
            <div class="col-md-12">
                <h2>Sports News</h2>
                <br>
            </div>
            {{macro.displaySourceList(sport)}}
        </div>
        <hr>
        <div class="row" id="fourth">
            <div class="col-md-12">
                <h2>Technology News</h2>
                <br>
            </div>
            {{macro.displaySourceList(tecnology)}}
        </div>
        {% endblock%}
    </div>
 
    <h1>NEWS</h1>
    <ul>
        {% for source in general %}
        <li>
            <h2>Name:{{ source.name}}
        </li>
        </h2>
        <li>Id:{{ source.id}}</li>
        <li>Description:{{ source.description}}</li>
        <li><a href="{{source.url}}">url</a></li> 
        {% endfor %}
    </ul>
</body>

</html>